body {
    font-family: "Mukta", sans-serif;
    background-color: rgb(255, 255, 255);
    color: black;
    overflow-x: hidden;
}

.background-image {
    background-image: url('../static/Fond.png') ;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}

.footer {
    flex-grow: 1;
    position: relative;
    overflow: hidden;
}

.ImageFooter {
    width: 170%;
    position: absolute;
    bottom: 0;
    left: -15%;
}

.LogoFooter {
    width: 7%;
    position: absolute;
    top: 82%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.container2 {
    text-align: center;
    max-width: 800px;
    margin: 60px auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.9); /* Ajoute un fond blanc semi-transparent */
    border-radius: 10px; /* Coins arrondis */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Ombre légère */
}

.percentage {
    font-size: 14px;
}

.info1, .info2 {
    display: inline-block;
    margin-right: 20px;
}
.btn-return {
    display: inline-block;
    padding: 10px 20px;
    background-color: #2D3CFF;
    color: white;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.5s ease-in-out;
}

.btn-return:hover {
    background-color: red;
    transform: scale(1.05);
}
