body {
    font-family: "Helvetica", sans-serif;
    background-color: rgb(255, 255, 255);
    color: black;
    overflow-x: hidden;
}

.background-image {
    background-image: url("{{ url_for('static', filename='Fond.png') }}");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%; /* Ajustez ces valeurs en fonction de vos besoins */
    height: 100%;
}


.footer {
    flex-grow: 1;
    position: relative;
    overflow: hidden;
}

.ImageFooter {
    width: 170%;
    position: absolute;
    bottom: 0;
    left: -15%;
}

.LogoFooter {
    width: 7%;
    position: absolute;
    top: 82%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.container2 {
    text-align: center;
    max-width: 800px;
    margin: 60px auto;
    padding: 20px;
}

.percentage {
    font-size: 14px;
}

.info1, .info2 {
    display: inline-block;
    margin-right: 20px;
}