body {
    font-family: "Helvetica", sans-serif;
    background-color: white;
    color: black;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
}

.container {
    max-width: 800px;
    margin: 250px auto;
    padding: 20px;
    text-align: center;
    font-size: 24px;
    margin-top: 0;
}


.form-group {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 20px 0;
    align-items: center;
}

select {
    font-size: 18px;
    padding: 10px;
    border-radius: 15px;
    margin: 10px 0;
    vertical-align: middle;
}

.form-group select {
    margin-right: 80px;
}


button {
    font-size: 18px;
    padding: 15px 40px;
    background-color: #2D3CFF;
    color: white;
    border: none;
    border-radius: 25px;
    margin: 20px 0;
}

h2 {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 70px;
    font-size: 65px;
}

.footer {
    flex-grow: 1;
    position: relative;
    overflow: hidden;
}

.ImageFooter {
    width: 170%;
    position: absolute;
    bottom: 0;
    left: -15%;
}

.LogoFooter {
    width: 7%;
    position: absolute;
    top: 82%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.container2 {
    text-align: center;
    max-width: 800px;
    margin: 0px auto;
    padding: 20px;
}

.Titre {
    font-size: 24px;
}


.percentage {
    font-size: 14px;
}


.info {
    display: flex;
    justify-content: space-between;
}

.info1, .info2 {
    flex: 1;
    text-align: center;
}

/* Supprimez ou modifiez la largeur de .info si vous ne souhaitez pas centrer horizontalement les informations */
.info {
    text-align: center;
}

.btn-return {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007BFF;  /* Couleur bleue pour le fond du bouton */
    color: white;               /* Texte blanc pour le bouton */
    border-radius: 5px;         /* Coins arrondis pour le bouton */
    text-decoration: none;      /* Enlever le soulignement du lien */
    font-weight: bold;          /* Texte en gras */
    margin-top: 10px;           /* Espacement en haut pour le démarquer des autres éléments */
    transition: background-color 0.3s;  /* Transition douce pour le survol */
}

.btn-return:hover {
    background-color: #0056b3;  /* Couleur légèrement plus foncée pour l'effet de survol */
}

