
 body {
    font-family: "Mukta", sans-serif;
    color: #000000;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
}

.background-image {
    background-image: url('../static/Fond.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 10%;
}

.container {
    max-width: 800px;
    margin: 50px auto; /* Réduit la marge pour centrer le contenu */
    padding: 20px;
    text-align: center;
    font-size: 24px;
}

.form-group {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 20px 0;
    align-items: center;
}

label {
    font-weight: bold;
    margin-right: 10px;
}

select, input[type="number"] {
    font-size: 16px; /* Réduit la taille de la police pour les éléments de formulaire */
    padding: 10px;
    border-radius: 15px;
    margin: 10px 0;
    vertical-align: middle;
}

.form-group select {
    margin-right: 30px; /* Réduit l'espacement entre les sélections */
}

button {
    font-size: 18px;
    padding: 15px 40px;
    background-color: #2D3CFF;
    color: white;
    border: none;
    border-radius: 25px;
    margin: 20px 0;
    cursor: pointer;
}

h2 {
    text-align: center;
    margin-top: -150px;
    margin-bottom: 30px; 
    font-size: 50px;
    background-color: rgba(255, 255, 255, 0.9); 
    color: black; 
    padding: 15px; 
    border-radius: 10px;
}

.footer {
    flex-grow: 1;
    position: relative;
    overflow: hidden;
}

.ImageFooter {
    width: 130%;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1; /* Déplace l'image derrière le contenu */
}

.LogoFooter {
    width: 100px;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-80%);
}

/* Styles pour les éléments du formulaire */
label[for="precipitation-debut"], label[for="precipitation-fin"] {
    display: lin;
    margin-top: 10px;
}

/* Styles pour le bouton de validation */
button[type="submit"] {
    background-color: blue; /* Couleur de fond mise à jour */
}

button[type="submit"]:hover {
    background-color: red;
    transform: scale(1.05);
}

